{% from "player-feature.jinja2" import render_player_feature %}

<div id="statblock" class="statblock">
    <h1>{{ player.name }}</h1>
    {% if race %}
        <em>{{ race.size_str }} {{ race.name | title }}</em>
    {% endif %}
    <hr/>
    <strong>Armor Class</strong> {{ player.ac }}
    <br/>
    <strong>Hit Points</strong> {{ player.hp }} <br/>
    {% if race %}
        <strong>Speed</strong> {{ race.speed }}
        <br/>
        {% if race.blindvision or race.darkvision %}
            {% set senses = [] -%}
            {% if race.blindvision %}
                {{ senses.append("blindvision " + race.blindvision | string + "ft.") or "" }}
            {% endif %}
            {% if race.darkvision %}
                {{ senses.append("darkvision " + race.darkvision | string + "ft.") or "" }}
            {% endif %}
            <strong>Senses</strong> {{ senses | join(", ") }} <br/>
        {% endif %}
    {% else %}
        <strong>Speed</strong> ???
    {% endif %}
    {% if race.dmg_resistances %}
        <strong>Damage Resistances</strong>
        {{ race.dmg_resistances | join(", ") | macro5e }} <br/>
    {% endif %}
    {% if race.dmg_immunities %}
        <strong>Damage Immunities</strong>
        {{ race.dmg_immunities | join(", ") | macro5e }} <br/>
    {% endif %}
    {% if race.dmg_vulnerabilities %}
        <strong>Damage Vulnerabilities</strong>
        {{ race.dmg_vulnerabilities | join(", ") | macro5e }}
    {% endif %}
    {% if race.weapon_profs %}
        <strong>Weapon Proficiencies</strong>
        {{ race.weapon_profs | join(", ") }}
    {% endif %}
    {% if race.armor_profs %}
        <strong>Armor Proficiencies</strong>
        {{ race.armor_profs }}
    {% endif %}
    {% if race.tool_profs %}
        <strong>Tool Proficiencies</strong>
        {{ race.tool_profs | join(", ") }}
    {% endif %}

    <hr/>

    
    {% for trait in race.traits if trait.title not in ("Age", "Size", "Languages") %}
        {% if loop.index == 1 %}
            <h3>Racial Traits</h3>
        {% endif %}
        {{ render_player_feature(trait) }}
    {% endfor %}

    {% for level in range(player.level) %}
        {% if loop.index == 1 %}
            <h3>Class Features</h3>
        {% endif %}
        {% for entry in class_.class_features + subclass.subclass_features if entry.title not in ("Ability Score Improvement", "Spellcasting")%}
            {% if entry.level == level+1 %}
                {{ render_player_feature(entry) }}
            {% endif %}
        {% endfor %}
    {% endfor %}

</div>