<div id="spell-statblock" class="statblock">
    <h4 style="font-size: 24px; border: 0;">{{ spell.name }}</h4>
    <div style="margin-bottom: 4px">
        {% if spell.level == 0 %}
            <em>{{ spell.school }} Cantrip</em><br/>
        {% else %}
            <em>Level {{ spell.level }} {{ spell.school }}</em><br/>
        {% endif %}
    </div>

    <div style="margin-bottom: 4px">
        <strong>Casting Time:</strong> {{ spell.time }} <br/>
        <strong>Range:</strong> {{ spell.range }} <br/>
        <strong>Components:</strong> {{ spell.components_string() }} <br/>
        <strong>Duration:</strong> {{ spell.duration }} <br/>
    </div>

    {% for entry in spell.entries %}
        {{ entry.html() | macro5e }}
    {% endfor %}
</div>