<div id="statblock">
    <h1>{{ monster.name }}</h1>
    <em>{{ monster.size_str }} {{ monster.maintype | title }}, {{ monster.alignment | default("Unaligned") }}</em>
    <hr/>
    <strong>Armor Class</strong> {{ monster.ac | join(", ") }} <br/>
    <strong>Hit Points</strong> {{ monster.hp.average }} ({{ monster.hp.formula }}) <br/>
    <strong>Speed</strong> {{ monster.speed.walk }} ft.
    {%- if monster.speed.fly -%}
        , fly {{ monster.speed.fly }} ft.
    {%- endif -%}
    {%- if monster.speed.burrow -%}
        , burrow {{ monster.speed.burrow }} ft.
    {%- endif -%}
    {%- if monster.speed.swim -%}
        , swim {{ monster.speed.swim }} ft.
    {%- endif -%}
    {%- if monster.speed.climb -%}
        , climb {{ monster.speed.climb }} ft.
    {%- endif -%}
    <hr/>
    <div id="ability-scores">
        <div>
            <strong>STR</strong><br/>{{ monster.strength }} ({{ "%+d" | format(monster.strength // 2 - 5) }})
        </div>
        <div>
            <strong>DEX</strong><br/>{{ monster.dexterity }} ({{ "%+d" | format(monster.dexterity // 2 - 5) }})
        </div>
        <div>
            <strong>CON</strong><br/>{{ monster.constitution }} ({{ "%+d" | format(monster.constitution // 2 - 5) }})
        </div>
        <div>
            <strong>INT</strong><br/>{{ monster.intelligence }} ({{ "%+d" | format(monster.intelligence // 2 - 5) }})
        </div>
        <div>
            <strong>WIS</strong><br/>{{ monster.wisdom }} ({{ "%+d" | format(monster.wisdom // 2 - 5) }})
        </div>
        <div>
            <strong>CHA</strong><br/>{{ monster.charisma }} ({{ "%+d" | format(monster.charisma // 2 - 5) }})
        </div>
    </div>
    <hr/>
    {% if monster.saves %}
        <strong>Saving Throws</strong>
        {% for stat, mod in monster.saves.items() %}
            {{ stat | title }} {{ mod }}{% if not loop.last %},{% endif %} 
        {%- endfor -%}
        <br/>
    {% endif %}
    {% if monster.skills %}
        <strong>Skills</strong>
        {{ monster.skills | macro5e }}
        <br/>
    {% endif %}
    {% if monster.dmg_resistances %}
        <strong>Damage Resistances</strong>
        {{ monster.resist | join(", ") | macro5e }} <br/>
    {% endif %}
    {% if monster.dmg_immunities %}
        <strong>Damage Immunities</strong>
        {{ monster.dmg_immunities | join(", ") | macro5e }} <br/>
            {% if immunity is string %}{{ immunity }}{% endif -%}
    {% endif %}
    {% if monster.cond_immunities %}
        <strong>Condition Immunities</strong>
        {{ monster.cond_immunities | join(", ") | macro5e }} <br/>
    {% endif %}
    <strong>Senses</strong>
    {% if monster.senses %}
        {% for sense in monster.senses %}{{ sense }}, {% endfor %}
    {% endif %}
    passive Perception {{ monster.passive }} <br/>
    {% if monster.languages %}
        <strong>Languages</strong>
        {% for lang in monster.languages %}
            {{ lang }}
            {%- if not loop.last %}, {% endif %}
        {% endfor %}
        <br/>
    {% endif %}
    <strong>Challenge</strong>
    {% if monster.cr is mapping %}
        {{ monster.cr.cr }} or {{ monster.cr.lair }} when encountered in lair
    {% else %}
        {{ monster.cr }} ({{ monster.xp }} XP)
    {% endif %}
    {% if monster.traits or monster.spellcasting %}
        <hr/>
    {% endif %}
    {% if monster.traits %}
        {% for trait in monster.traits %}
            {{ trait.html() | macro5e }}
        {% endfor %}
    {% endif %}
    {% if monster.spellcasting %}
        {% for spellspec in monster.spellcasting %}
            {% if spellspec.header %}
                {{ spellspec.header.html() | macro5e }}
            {% endif %}
            {% if spellspec.slots %}
                Cantrips (at will): {{ spellspec.slots[0].spells | join(", ") | macro5e }}<br/>
                {% for spell_list in spellspec.slots[1:] %}
                    {{ loop.index | ordinal }} Level ({{spell_list.slots}}): {{ spell_list.spells | join(", ") | macro5e }} <br/>
                {% endfor %}
            {% endif %}
            {% if spellspec.at_will %}
                At will: {{ spellspec.at_will.spells | join(", ") | macro5e }} <br/>
            {% endif %}
            {% if spellspec.daily %}
                {% for spell_list in spellspec.daily %}
                    {{ spell_list.per_day }}/day: {{ spell_list.spells | join(", ") | macro5e }} <br/>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if monster.actions %}
        <h4>Actions</h4>
        {% for action in monster.actions %}
            {{ action.html() | macro5e }}
        {% endfor %}
    {% endif %}
    {% if monster.bonus %}
        <h4>Bonus Actions</h4>
        {% for action in monster.bonus %}
            {{ action.html() | macro5e }}
        {% endfor %}
    {% endif %}
    {% if monster.legendary_actions %}
        <h4>{{ monster.legendary_actions.title or "Legendary Actions" }}</h4>
        The {{ monster.name }} can take 3 legendary actions, choosing from the options below. Only one legendary action can be used at a time and only at the end of another creature's turn. The {{ monster.name }} regains spent legendary actions at the start of its turn.
        {{ monster.legendary_actions.header }}
        {{ monster.legendary_actions.body }}
    {% endif %}

</div>