{% extends "base.jinja2" %}

{% block header %}
    <link rel=stylesheet type="text/css" href="{{ url_for('tracker_bp.static', filename='tracker.css') }}">
    <link rel=stylesheet type="text/css" href="{{ url_for('tracker_bp.static', filename='statblock.css') }}">
    <script src="{{url_for('tracker_bp.static', filename='tracker.js')}}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Convergence">
{% endblock %}

{% block content %}

{% include "add-player.jinja2" %}

{% include "save-encounter.jinja2" %}

<div style="margin: auto; width:1200px; height: 100%; display: flex; flex-direction: column;">
    <div style="display: flex; margin: 0; width: 100%;">
        <input id="monstersearch" list="monsterlist" class="w3-input" type="text" placeholder="Search for monsters...">
        <datalist id="monsterlist">
            {% for monster_id, monster_name in monsters %}
                <option value="{{monster_id}}">{{monster_name}}</option>
            {% endfor %}
        </datalist>
        <button id="add-monster-button" class="w3-button w3-whte w3-border w3-large w3-circle w3-xlarge w3-ripple" style="margin-left: 12px; overflow: visible">+</button>
        <button id="manage-players-btn" class="w3-button w3-white w3-border w3-ripple" style="margin-left: 12px; float: right; overflow: visible">Add Players</button>
    </div>
    <div style="display: flex; flex-grow: 1; overflow: hidden;">
        <div style="width: 100%; flex-grow: 1; overflow-y: scroll">
            <h1>Initiative Tracker</h1>
            <h5>Saved Encounters</h5>
            <div class="saved-encounter-list-header w3-small" style="width: 100%">
                <div><strong>Title</strong></div>
                <div><strong>Description</strong></div>
                <div></div>
            </div>
            <div class="saved-encounter-list w3-small"></div>

            <table id="turntracker" class="w3-table w3-bordered w3-border">
                <tr id="tracker-header">
                    <th></th>
                    <th>Name</th>
                    <th>AC</th>
                    <th>HP</th>
                    <th>Initiative</th>
                    <th>PP</th>
                </tr>
            </table>
            <div style="margin-top: 12px; display: flex; justify-content: space-evenly">
                <button id="prompt-save-encounter-btn" class="w3-button w3-white w3-border w3-ripple">Save Encounter</button>
                <button class="w3-button w3-white w3-border w3-ripple" onclick="rollInitiative()">Roll Initiative</button>
                <button class="w3-button w3-white w3-border w3-ripple" onclick="sortInitiativeTable()">Order</button>
                <div style="display: inline-flex">
                    <button class="w3-button w3-white w3-border w3-ripple" onclick="prevCombatant()"><i class="fa-solid fa-arrow-left"></i></button>
                    <button class="w3-button w3-white w3-border w3-ripple" onclick="nextCombatant()" style="border-left: 0 !important"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div style="flex-basis: 560px; flex-grow: 0; flex-shrink: 0; display: flex; flex-direction: column; padding: 4px">
            <div id="tab-bar" class="w3-bar" style="flex-direction: row">
                <button class="w3-bar-item w3-button w3-white w3-ripple w3-border" onclick="showTab('#statblock-div')">Stats</button>
                <button class="w3-bar-item w3-button w3-white w3-ripple w3-border" onclick="showTab('#lootblock-div')">Encounter Loot</button>
            </div>
            <div id="tab-pages" style="flex-grow: 1; overflow-y: scroll; height: 100px">
                <div id="statblock-div"></div>
                <div id="lootblock-div" class="statblock" style="display: none">
                    <h1>Encounter Stats</h1>
                    <hr/>
                    <div id="encounter-stats">
                        <h3>Experience</h3>
                        <div style="display: flex; width: 100; justify-content: space-between">
                            <div class="w3-large"><span>XP to Award</span> <span class="w3-xlarge" id="xp-to-award">0</span> / <span id="xp-total">0</span></div>
                        </div>
                    </div>
                    <div id="lootblock"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tooltip-sleeve" style="position: absolute; width: 0; height: 0;">
    <div id="tooltip" class="tooltip"></div>
</div>

<div id="contextmenu" style="postion: absolute">
    <div class="contextmenu">
        <div>
            <input id="tracker-context-has-xp" name="tracker-context-has-xp" class="w3-check" type="checkbox" checked="checked">
            <label for="tracker-context-has-xp">Gives XP?</label>
        </div>
        <div>
            <input id="tracker-context-has-loot" name="tracker-context-has-loot" class="w3-check" type="checkbox" checked="checked">
            <label for="tracker-context-has-loot">Drops Loot?</label>
        </div>
        <div id="tracker-context-reroll-init" class="w3-button w3-white w3-ripple">
            Reroll Initiative
        </div>
        <div id="tracker-context-delete-item" class="w3-button w3-white w3-ripple">
            Delete Combatant
        </div>
    </div>
</div>

<script>
    $('.remove-btn').click(function() { deleteRow($(this)); });
    $('.hpbox').change(function() { updateHP($(this)); });
    $('#add-monster-button').click(function() {
        monsterId = $('#monstersearch').val();
        // If no ID is provided, then just ignore.
        if (!monsterId) { return; }
        addMonster(monsterId);
    });
    $('#monstersearch').focus(function () { $(this).val(''); });
    $('#manage-players-btn').click(function() { $('#player-add-modal').show(); updateAddPlayerButtons();});
    $('#player-add-modal').find('button').click(function() { togglePlayer($(this)) });

    // Save Encounter
    $('#prompt-save-encounter-btn').click(function() { $('#save-encounter-modal').show(); });
    $('#save-encounter-btn').click(function() { saveEncounter(); $('#save-encounter-modal').hide(); })

    $(document).ready(function() {
        statblock_height = $('#statblock').height();
        $('#statblock').css('max-height', `${statblock_height}px`)
        refreshEncounters();
    })

    $(document).on("click", function(event) {
        contextmenu = $("#contextmenu");
        if (!contextmenu.is(event.target) && contextmenu.has(event.target).length === 0) {
            contextmenu.hide();
        }
    })

</script>

{% endblock %}