<div id="recipe-statblock-wrapper" style="width: 850px">
    <div id="recipe-statblock" class="statblock">
        <h1>{{ item.name }}</h1>
        <div style="display: flex; width: 100%; justify-content: space-between">
            <div><em>{{ item.item_type or "Wonderous Item"}}</em></div>
            <div>{{ item.rarity | title }}</div>
        </div>
        <div style="display: flex; width: 100%; justify-content: space-between">
            <div>{{ item.weight }} lb.</div>
            <div>
                {% if item.ac is defined %}
                    AC {{ item.ac }}
                    {%- if item.armor_type == "Light Armor" %} + Dex{% elif item.armor_type == "Medium Armor" %} + Dex (max 2){% endif %}
                {% endif %}
                {% if item.properties %}
                    {{ item.properties | join(', ') | title }}
                {% endif %}
                {% if item.ingredient_type %}
                    ({{ item.ingredient_type | title}})
                {% endif %}
            </div>
        </div>

        <hr/>
        {% if item.entries %}
            {% for entry in item.entries %}
                {{ entry.html() | macro5e }}
            {% endfor %}

            <hr/>
        {% endif %}

        <h3>Recipes</h3>
        <ol>
            {% for recipe in recipes %}
                <li>
                    <strong>{{ recipe.result.name }} {{ '(' ~ recipe.quantity ~ ')' }}</strong><br/>
                    <em>Requires {{ recipe.num_checks }} successful DC {{ recipe.dc }} {{ recipe.crafting_type | title }} check{{ 's' if recipe.num_checks != 1 }} and takes {{ recipe.crafting_time }}. {{ recipe.note }}</em>
                    <ul>
                        {% for ingredient_wrapper in recipe.materials %}
                            <li>{{ ingredient_wrapper | macro5e }}</li>
                        {% endfor%}
                    </ul>
                </li>
            {% endfor %}
        </ol>
    </div>
</div>
<div style="display: flex; flex-grow: 1">
    <div style="flex: 1 1 0; min-height: 0; overflow-y: scroll">
        <h3>Crafting Quick Guide</h3>
        {% if recipes %}
            {% if recipes[0].crafting_type == 'alchemy' %}
                <ul>
                    <li>Acquire the items listed in the materials section for your chosen potion.</li>
                    <li>Use your alchemist’s supplies tool to craft the potion using the number of hours listed in the Crafting Time column, or during a long rest using the crafting camp action if the crafting time is 2 hours or less. Alchemy items must be crafted in a single session.</li>
                    <li>For every 2 hours, make a crafting roll of 1d20 + your Intelligence or Wisdom modifier (your choice) + your proficiency bonus with alchemist’s supplies. You can abort the craft after a bad crafting roll if you wish, this counts as a failure.</li>
                    <li>On success, you mark 2 hours of completed time. Once the completed time is equal to the crafting time, the magic item is complete. On failure, the crafting time is lost and no progress has been made during the 2 hours. If you fail 3 times in a row, the crafting is a failure and all materials are lost.</li>
                </ul>
            {% elif recipes[0].crafting_type == 'poisoncraft' %}
                <ul>
                    <li>Acquire the items listed in the materials section for your chosen poison.</li>
                    <li>Use your Poisoner’s Kit tool to craft the option using the number of hours listed in the Crafting Time column, or during a long rest using the crafting camp action if the crafting time is 2 hours or less. Poisoncraft items must be crafted in a single session.</li>
                    <li>For every 2 hours, make a crafting roll of 1d20 + your Intelligence or Wisdom modifier (your choice) + your proficiency bonus with a Poisoner’s Kit. You can abort the craft after a bad crafting roll if you wish, this counts as a failure.</li>
                    <li>On success, you mark 2 hours of completed time. Once the completed time is equal to the crafting time, the magic item is complete. On failure, the crafting time is lost and no progress has been made during the 2 hours. If you fail 3 times in a row, the crafting is a failure and all materials are lost.</li>
                </ul>
            {% elif recipes[0].crafting_type == 'blacksmithing' %}
                <ul>
                    <li>Acquire the items listed in the materials section for your chosen item.</li>
                    <li>Use your {{ '{@item smith\'s tools|PHB}' | macro5e }} to craft the option using the number of hours listed in the Crafting Time column.</li>
                    <li>For every 2 hours, make a crafting roll of 1d20 + your Strength modifier + your proficiency bonus with blacksmith’s tools.</li>
                    <li>On success, you mark 2 hours of completed time. Once the completed time is equal to the crafting time, the item is complete.</li>
                    <li>On failure, the crafting time is lost and no progress has been made during the 2 hours. If you fail 3 times in a row, the crafting is a failure and all materials are lost.</li>
                </ul>
            {% elif recipes[0].crafting_type == 'cooking' %}
                <ul>
                    <li>Acquire a fresh ingredient by harvesting or finding it.</li>
                    <li>Review the Recipe Tables for Feasts, Snacks or Rations that ingredient would qualify for, and gather the other materials needed listed in the Materials column.</li>
                    <li>Use your {{ "{@item cook's utensils|PHB}" | macro5e }} to craft the option using the number of hours listed in the Crafting Time column, or use the crafting camp action, during a long rest, if the crafting time is 2 hours or less. Meals must be crafted in a single crafting session. All meals require a heat source (such as a campfire).</li>
                    <li>For every 2 hours, make a crafting roll of 1d20 + your Wisdom modifier + your proficiency bonus with {{ "{@item cook's utensils|PHB}" | macro5e }}. You can abort the craft after a bad crafting roll if you wish, this counts as a failure.</li>
                </ul>
            {% elif recipes[0].crafting_type == 'enchanting' %}
                <ul>
                    <li>Select the magic item that you would like to craft from any of the Magic Item Tables.</li>
                    <li>Acquire the items listed in the materials column for that item.</li>
                    <li>Use your Arcana skill to infuse the option using the number of hours listed in the Crafting Time column, or during a long rest using the crafting camp action if the crafting time is 2 hours or less.</li>
                    <li>For every 2 hours, make a crafting roll of 1d20 + your Intelligence modifier + your Arcana proficiency.</li>
                    <li>On success, you mark 2 hours of completed time. Once the completed time is equal to the crafting time, the magic item is complete. On failure, the crafting time is lost and no progress has been made during the 2 hours. If you fail 3 times in a row, the crafting is a failure and all materials are lost.</li>
                </ul>
            {% elif recipes[0].crafting_type == 'runecarving' %}
                <h2>Runecarving</h1>
                <p>Runecarving is the art of marking special magical enhancements in the form of magical runes. These are symbolic representations that channel and focus power to confer a special magical effect to the item they are marked on.</p>
                <h3>Quick Reference</h3>
                The following is a quick reference to follow for each step of carving runes:
                <ul>
                    <li>Select a basic item you would like to mark a rune on. This can be an mundane item, gem, nonmagical weapon, or nonmagical armor.</li>
                    <li>Select a rune you would like to mark on that item from the table based on the item type.</li>
                    <li>Acquire the materials listed in the materials column for that rune.</li>
                    <li>Use your Related Tool (based on your Runecraving tradition) to craft the option using the number of hours listed in the crafting time column. You can make progress in 2 hour increments.</li>
                    <li>For every 2 hour increment, make a crafting roll of 1d20 + your Wisdom or Intelligence (based on your Tradition) + your Proficiency bonus with your related tool.</li>
                    <li>On success, you mark 2 hours of completed time. Once the completed time is equal to the crafting time, the item is complete. On failure, the crafting time is lost and no progress has been made during the 2 hours. If you fail three times in a row, the crafting is a failure and all materials are lost.</li>
                </ul>
                
                <h3>Related Tool & Ability Score</h3>
                <p>Rune carving comes in two different traditions; you can mark runes from either tradition, but they require different tool proficiency and ability modifiers.</p>
                
                <h4>Ancient Tradition</h4>
                <p>The runes of the Giants, Dwarves, and other ancient traditions. Your ability modifier for this tradition is Wisdom, and you can select your related tool from Mason’s Tools or Painter’s Supplies.</p>
                
                <h4>Academic Tradition</h4>
                <p>The runes of mages, scholors, and elves, these traditions are not necessarily any less ancient, but runecarvers of these traditions seek new knowledge and expression, rather than being rooted in the old ways. Your ability modifier for this tradition is Intelligence, and you can select your relted tool from Calligrapher’s Supplies or Woodcarver’s Tools.</p>
                
                <h3>Materials</h3>
                <p>Runecarving uses primarily magical ink and essences to imbue their runes with the prerequisite magical properties.</p>
                
                <h3>Crafting Roll</h3>
                <p><strong>Ancient Tradition Runecarver Modifier</strong> = your Mason’s Tools or Painter’s Supplies (your choice) proficiency bonus + your Wisdom modifier</p>
                <p><strong>Academic Tradition Runecarver Modifier</strong> = your Calligrapher’s Supplies or Woodcarver’s Tools (your choice) proficiency bonus + your Intelligence modifier</p>

                <h4>Success and Failure</h4>
                <p>After you make a crafting roll, if you succeed, you make 2 hours of progress toward the total crafting time (and have completed one of the required checks for making an item).</p>
                <p>Checks for Runecarving do not need to be immediately consecutive. If you fail three times in a row, all progress and materials are lost and can no longer be salvaged. Failure means that no progress is made during that time.</p>
                <p>Once an item is started, even if no progress is made, the components reserved for that item can only be recovered via salvage.</p>

                <h3>Runecarving Saving Throw</h3>
                <p>Some runes require a saving throw, the following is the formula for calculating the saving throw. The saving throw is calculated at the time of creation based on the creators attributes and proficiency, and doesn’t change once it is created. A saving throw doesn’t include any expertise or other bonuses a crafter has to the crafting roll.</p>
                <p><strong>Rune DC</strong> = 8 + your related proficiency bonus + your Wisdom or Intelligence modifier (based on your Tradition).</p>
                <p><strong>Rune Attack Roll Modifier</strong> = your related tool proficiency bonus + your Wisdom or Intelligence modifier (based on your Tradition).</p>

                <h3>Placing a Rune</h3>
                <p>You can place a rune a nonmagical weapon, set of armor, or item. When you place an rune on an item, that item requires attunement. When a creature is attuned to it, the rune grants the wielder certain benefits as defined by the rune. An item becomes a magical item of the rarity of the rune placed on it when a rune is palced on it.</p>

                <h4>Runes on Magical Items</h4>
                <p>Placing a rune on a magical item is exceedingly difficult. Magical items resist modification, and their magic interfers with the rune. It can be done with additional difficult as per the table below. If the item has attunement, the rune still requires seperate attunement.</p>

                <table>
                    <tr>
                        <th>Item Rarity</th>
                        <th>Rune Difficulty Modifier</th>
                    </tr>
                    <tr>
                        <td>Common</td>
                        <td>+5</td>
                    </tr>
                    <tr>
                        <td>Uncommon</td>
                        <td>+7</td>
                    </tr>
                    <tr>
                        <td>Rare</td>
                        <td>+10</td>
                    </tr>
                    <tr>
                        <td>Very Rare</td>
                        <td>+14</td>
                    </tr>
                    <tr>
                        <td>Legendary</td>
                        <td>+20</td>
                    </tr>
                </table>
            {% endif %}
            







        {% endif %}
    </div>
</div>