.recipe-block {
    /* width: 80%;
    min-width: 600px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto; */
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1 1 0;
    min-height: 0px;
}

#recipe-statblock {
    min-width: 650px;
    max-width: 850px;
}