/* Most of this comes from 5e.tools or is inspired by it. Credit were credit is due! */

#statblock {
    background: url('https://5e.tools/img/bestiary/stat-block-top-texture.webp') no-repeat, repeat top center, #fdf1dc;
    border-top: 3px solid #e69a28;
}

.statblock {
    padding-left: 8px;
    padding-right: 5px;
    font-size: 12.6px;
    font-family: "Convergence", Arial, sans-serif;
}

.statblock h1, h4 {
    font-variant: small-caps;
    color: #822000;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    line-height: 1.35;
}

.statblock h4 {
    border-bottom: 2px solid #822000;
}

.statblock p {
    margin-top: 0;
    margin-bottom: 5px;
}

.statblock hr {
    border-top: 2px solid #822000;
    margin-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0;
}

.statblock strong {
    font-weight: 700;
    font-family: Arial, sans-serif;
}

.statblock #ability-scores {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.statblock a {
    text-decoration: none;
    color: #337ab7;;
}

.statblock a:hover {
    color: #23527c;
    text-decoration: underline;
}

.statblock table.entry {
    background-color: rgba(0,0,0,0);
    width: 100%;
    border-collapse: collapse;
    border: 0;
}

.statblock table.entry caption {
    text-align: left;
    margin-left: 5px;
    padding: 0;
    font-weight: bold;
    font-size: 1.08em;
    color: #777;
}

.statblock table.entry tr.oddrow {
    background: rgba(192, 192, 192, 0.376);
}

.statblock table.entry .col-1 {
    width: 8% !important;
}

.statblock table.entry .col-2 {
    width: 17% !important;
}

.statblock table.entry .col-3 {
    width: 25% !important;
}

.statblock table.entry .col-4 {
    width: 33% !important;
}

.statblock table.entry .col-5 {
    width: 42% !important;
}

.statblock table.entry .col-6 {
    width: 50% !important;
}

.statblock table.entry .col-7 {
    width: 58% !important;
}

.statblock table.entry .col-8 {
    width: 67% !important;
}

.statblock table.entry .col-9 {
    width: 75% !important;
}

.statblock table.entry .col-10 {
    width: 83% !important;
}

.statblock table.entry .col-22 {
    width: 92% !important;
}

.statblock table.entry .col-12 {
    width: 100% !important;
}

.statblock table.entry .text-left {
    text-align: left;
}

.statblock table.entry .text-center {
    text-align: center;
}

.statblock table.entry .text-right {
    text-align: right;
}

span.tooltip {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

div.tooltip {
    display: none;
    position: absolute;
    box-shadow: 2px 2px 6px #4d4d4d77;
    width: 480px;
    right: 0;
    background: url('/inittracker/static/seamless-parchment.jpg');
    border-top: 2px solid #e69a28;
    border-bottom: 2px solid #e69a28;
    max-height: 50vh;
    overflow: scroll;
}

div.tooltip h1 {
    font-size: 24px;
}

div.tooltip h2 {
    font-size: 19px;
}