html, body {
    height: 100%;
}

div.content {
    height: calc(100vh - 93px);
}

#turntracker td {
    vertical-align: middle;
}

#turntracker input {
    width: 24px;
    display: inline-block;
    padding: 0 2px 0 0;
    text-align: right;
}

tr.selected {
    border-right: 3px solid #f44336 !important;
}

tr.dead {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/85/Dead.png");
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}

td.remove-btn {
    width: 24px;
    padding: 4px 4px !important;
    text-align: center;
}

input.hpbox {
    width: 48px !important;
}

input.hpbox::placeholder {
    color: black
}

tr.statblock-target {
    background-color: #eeeeee;
}

div.saved-encounter-list {
    width: 100%;
    overflow-y: scroll;
    height: 76px;
}

div.saved-encounter-list-item {
    border-top: 1px solid #ddd;
}

div.saved-encounter-list-header {
    border: 1px solid #ddd;
    border-bottom: 0;
}

div.saved-encounter-list-item span:first-child, div.saved-encounter-list-header span:first-child {
    display: inline-block;
    width: 225px;
}

div.saved-encounter-list-item span {
    display: inline-block;
}

div.saved-encounter-list-item:hover {
    background-color: #f5f5f5;
}

div.saved-encounter-list div.selected {
    background-color: #eeeeee;
}

div#contextmenu {
    position: absolute;
}

div.contextmenu {
    display: flex;
    flex-direction: column;
    width: 180px;
    border: 1px solid #ccc;
    box-shadow: black;
}

div.contextmenu div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 4px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    margin: 0;
    height: 38px;
    padding-left: 4px;
    padding-right: 4px;
}

div.contextmenu div:last-of-type {
    border-bottom: 0px;
}