{% extends "base.jinja2" %}

{% block header %}
    <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='forms.css') }}">
{% endblock %}

{% block content %}

<div style="width: 1200px; margin: auto">
    <h1>Options</h1>

    <form method="POST" action="">
        {{ form.csrf_token }}
        <h2>General Settings</h2>
        <div>
            <fieldset>
                <div style="display:flex; align-items:center">
                    <label for="use_new_content" class="switch">
                        {{ form.use_new_content }}
                        <span class="slider round"></span>
                    </label>
                    {{ form.use_new_content.label }}
                </div>
            </fieldset>
        </div>
        <h2>Modules/Plugins</h2>
        <div>
            <fieldset>
                <div style="display:flex; align-items:center">
                    <label for="module_kcg" class="switch">
                        {{ form.module_kcg }}
                        <span class="slider round"></span>
                    </label>
                    {{ form.module_kcg.label }}
                </div>
            </fieldset>
            <p>
            Kibble's Crafting Guide contains a set of recipes, items, and loot tables to implement a full crafting system within your game. The Guide defines a wide array of item types players can make, ranging from potions and poisons, to spell scrolls and wands, to weapons and armour, to finely cooked meals. Enabling this module will override the default encounter loot tables to drop crafting materials instead.
            </p>
            <p><a href="https://irp.cdn-website.com/8e7079c7/files/uploaded/Crafting%2B1.0.7%2B-%2Bcompressed.pdf">For more information, review the Guide itself here.</a></p>

        {{ form.submit(class_="w3-button w3-white w3-border w3-ripple") }}
    </form>
</div>
<br/>

{% endblock %}