{% extends "base.jinja2" %}

{% block header %}
    <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='forms.css') }}">
{% endblock %}

{% block content %}

<div style="width: 1200px; margin: auto">
    <h1>Options</h1>

    <form method="POST" action="">
        {{ form.csrf_token }}
        <h2>General Settings</h2>
        <div>
            <fieldset>
                <div style="display:flex; align-items:center">
                    <label for="use_new_content" class="switch">
                        {{ form.use_new_content }}
                        <span class="slider round"></span>
                    </label>
                    {{ form.use_new_content.label }}
                </div>
            </fieldset>
            <p>
            Where possible, use the 2025 versions of spells and monsters.
            </p>
        </div>
        <h2>Modules/Plugins</h2>
        <div>
            {% for name, data in module_form_data.items() %}
                <h3>{{ data.module.name }}</h3>
                <fieldset>
                    <div style="display:flex; align-items:center">
                        <label for="{{ 'module_' + name }}" class="switch">
                            {{ form['module_' + name] }}
                            <span class="slider round"></span>
                        </label>
                        {{ form['module_' + name].label(style="width:100%") }}
                    </div>
                </fieldset>
            {% endfor %}

        {{ form.submit(class_="w3-button w3-white w3-border w3-ripple") }}
    </form>
</div>
<br/>

{% endblock %}