<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title | default("DMTools") }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='aux.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/997e16441a.js" crossorigin="anonymous"></script>
        <script type="text/javascript">
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
        </script>
        {% block header %}{% endblock %}
    </head>
    <body>

    <div class="w3-bar w3-border w3-light-grey">
        <a class="w3-bar-item w3-button" href="{{ url_for('settings_bp.settings') }}"><i class="fa-solid fa-gear"></i></a>
        <a class="w3-bar-item w3-button" href="{{ url_for('tracker_bp.tracker') }}">Tracker</a>
        <a class="w3-bar-item w3-button" href="{{ url_for('players_bp.list_players_page') }}">Manage Players</a>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div id="_flash_message_{{ loop.index }}" class="w3-panel w3-display-container {{ category }}">
                    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-topright">X</span>
                    <p>{{ message }}</p>
                </div>
                <script>
                    $('#_flash_message_{{ loop.index }}').delay(5000 + (2000 * {{ loop.index0 }})).fadeOut(1000);
                </script>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div id="content" class="content">
        {% block content %}{% endblock %}
    </div>

    <footer class="w3-container w3-teal">
        <p>by Ben Airey</p>
    </footer>

    </body>
</html>