<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title | default("DMTools") }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/997e16441a.js" crossorigin="anonymous"></script>
        <script type="text/javascript">
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
        </script>
        <style>
            .logo {
                font-size: 24px;
                font-variant: small-caps;
                font-family: 'Times New Roman', Times, serif;
                font-style: italic;
                text-shadow: 1px 1px 2px #5f5f5f;
            }
        </style>
        {% block header %}{% endblock %}
    </head>
    <body>

    <div class="w3-bar w3-border w3-light-grey">
        <a class="w3-bar-item w3-button" href="{{ url_for('tracker_bp.tracker') }}">Tracker</a>
        <a class="w3-bar-item w3-button" href="{{ url_for('players_bp.list_players_page') }}">Manage Players</a>
        <span style="margin-top: auto; margin-bottom: auto;display: inline-block; float: right; margin-right: 12px;"><span class="logo">BagOfTricks<sub>v{{ current_app_version }}</sub></span></span>
    </div>

    <div id="content" class="content">
        {% block content %}{% endblock %}
    </div>

    <footer class="w3-container w3-teal w3-center">
        <p>Copyright (c) <script>document.write(new Date().getFullYear())</script> by Ben Airey</p>
    </footer>

    </body>
</html>