<h2>Alchemy</h2>
<p>Alchemy is a crafting art that almost all adventures have some degree of interest in the results of. The source of the ever in demand Potion of Healings, it is a versatile trade that fuels (sometimes quite literally) the adventuring life.</p>
<p>It doesn’t take many experiences with the powers of potions for an adventurer to consider if they can get away with simmering a Potion of Healing next to the stew over that night’s cooking fire... of course it’s easier said than done for the result of such things to come away not poisonous.</p>
<p>Alchemy tends to be a very quick form of crafting, but with this comes additional risks with most crafts resting on a single roll, and failure resulting in the loss of all materials. Although taking that chance is frequently worth it during a busy adventuring season, consider the “Taking 10” option outlined in the craft introduction when speed is not of the essence.</p>

<h3>Related Tool & Ability Score</h3>
<p>Alchemy works using alchemist’s supplies. Attempting to craft a potion without these will almost always be made with disadvantage, and proficiency with these allows you to add your proficiency to any alchemy crafting roll.</p>
<p>Alchemy uses your choice of your Intelligence or Wisdom modifier.</p>

<h3>Quick Reference</h3>
<p>While each step will go into more depth, the quick reference allows you to at a glance follow the steps to make a potion in its most basic form:</p>
<ul>
    <li>Select a potion that you would like to craft from the “Potions Crafting Table”.</li>
    <li>Acquire the items listed in the materials column for that potion.</li>
    <li>Use your alchemist’s supplies tool to craft the potion using the number of hours listed in the Crafting Time column, or during a long rest using the crafting camp action if the crafting time is 2 hours or less. Alchemy items must be crafted in a single session.</li>
    <li>For every 2 hours, make a crafting roll of 1d20 + your Intelligence or Wisdom modifier (your choice) + your proficiency bonus with alchemist’s supplies. You can abort the craft after a bad crafting roll if you wish, this counts as a failure.</li>
    <li>On success, you mark 2 hours of completed time. Once the completed time is equal to the crafting time, the magic item is complete. On failure, the crafting time is lost and no progress has been made during the 2 hours. If you fail 3 times in a row, the crafting is a failure and all materials are lost.</li>
</ul>

<h3>Shelf Life & Expired Potions</h3>
<p>A unique attribute to alchemy, potions once crafted have a shelf life of 1 year before coming expired. This shelf life is shortened to 1 month if the potion contains any reactive ingredient.</p>
<p>If an expired potion is used or consumed within double its shelf life, roll a d4. On a 1, you become poisoned for 1 minute. On a 2 or 3, the potion will work with reduced effect; its duration will be halved if it had a duration, and damage or healing it dealt will be halved. On a 4, it works as expected.</p>
<p>Any potion that is older than twice its shelf life has no effect besides causing the imbiber to become poisoned for 1 minute.</p>

<h3>Crafting Roll</h3>
<p>Putting that together means that when you want to work on Alchemy, your crafting roll is as follows:</p>
<p class="center"><strong>Alchemy Modifier</strong> = your Alchemist’s Supplies proficiency bonus + your Intelligence or Wisdom modifier (your choice)</p>

<h4>Success and Failure</h4>
<p>For Alchemy, after you make the crafting roll and succeed mark your progress on a crafting project. If you succeed, you make 2 hours of progress toward the total crafting time (and have completed one of the required checks for making an item). Checks for Alchemy must be consecutive, meaning that if you wish to continue after a failed craft, you need to extend your crafting time.</p>
<p>Failure means that no progress is made during that time. Once an item is started, even if no progress is made, the components reserved for that item can only be recovered via salvage. If you fail three times in a row, all progress and materials are lost and can no longer be salvaged.</p>

<h3>Alchemy Saving Throw</h3>
<p>Some alchemical creations trigger a saving throw. In instances that they do, the following is the formula for calculating the saving throw. The saving throw is calculated at the time of creation based on the creators attributes and proficiency, and doesn’t change once it is created.</p>
<p class="center"><strong>Alchemy DC</strong> = 8 + your Alchemist’s Supplies proficiency bonus + your Intelligence or Wisdom Modifier (your choice)</p>