<h2>Blacksmithing</h2>

<p>Blacksmithing is a popular professional interest of two sorts of adventurers: those that want to hit things with heavy metal objects, and those that want a heavy metal object between them and the thing hitting them.</p>
<p>While often relying on the town blacksmith to do their work for them is a fine option, rolling up your sleeves and doing the work yourself can allow you to express your creativity... and may save you a few coins in the process.</p>
<p>Blacksmithing is slow hard work, but has a higher tolerance for failure than most, and is more dependent on knowing your material, as the templates you work from tend to be common across many of them.</p>

<h3>Related Tool</h3>
<p>Blacksmithing works using blacksmith’s tools. Attempting to craft an item without blacksmith’s tools will often be impossible, though a GM may let you use makeshift tools to make a check with disadvantage. Proficiency in blacksmith’s tools allows you to add your proficiency bonus to any blacksmithing check.</p>
<p>While Blacksmiths can benefit from their skills in small ways such as sharpening their weapons and retrofitting their gear on the go, many of their crafting options require a fully equipped Forge; a fully equipped Forge entails forge, anvil, and blacksmith’s tools.</p>

<h3>Quick Reference</h3>
<p>While each step will go into more depth, the quick reference allows you to at a glance follow the steps to make a blacksmith item in its most basic form:</p>
<ul>
    <li>Select the item that you would like to craft from any of the Blacksmithing Crafting Tables.</li>
    <li>Acquire the items listed in the materials column for that item.</li>
    <li>Use your blacksmith’s tools to craft the option using the number of hours listed in the Crafting Time column.</li>
    <li>For every 2 hours, make a crafting roll of 1d20 + your Strength modifier + your proficiency bonus with blacksmith’s tools.</li>
    <li>On success, you mark 2 hours of completed time. Once the completed time is equal to the crafting time, the item is complete.</li>
    <li>On failure, the crafting time is lost and no progress has been made during the 2 hours. If you fail 3 times in a row, the crafting is a failure and all materials are lost.</li>
</ul>

<h3>Crafting Roll</h3>
<p>Putting that together means that when you would like to smith an item, your crafting roll is as follows:</p>
<p class="center"><strong>Blacksmithing Modifier</strong> = your Blacksmith’s Tools proficiency bonus + your Strength modifier</p>

<h4>Success and Failure</h4>
<p>After you make a crafting roll, if you succeed, you make 2 hours of progress toward the total crafting time (and have completed one of the required checks for making an item).</p>
<p>Checks for Blacksmithing do not need to be immediately consecutive. If you fail three times in a row, all progress and materials are lost and can no longer be salvaged. Failure means that no progress is made during that time.</p>
<p>Once an item is started, even if no progress is made, the components reserved for that item can only be recovered via salvage.</p>

<h3>Maintenance & Modifications</h3>
<p>While the primary purpose of Blacksmithing is to forge armor and weapons from metal, for an adventurer such events are important milestones that generally will not occur everyday. The following are some tasks that require proficiency with Blacksmith’s Tools that provide a more day-to-day utility to the proficiency, giving them minor ways to enhance or adapt their gear.</p>
<p>These are minor crafts can be completed in 2 hours (or as one camp action when using the Kibbles’ Camp Actions rules) with the expenditure of 5 gp worth of materials. They can be done as part of a long rest, but have limitations the normally crafted items do not (such as a maximum stockpile of minor crafts).</p>
<p>The following are “minor crafting options” for Blacksmiths:</p>

<h4>Maintain Gear</h4>
<p>One of the perks of having a blacksmith in the field is their ability to keep gear in its best condition, giving you an edge (sometimes literally) in the quality of your gear and weapons. Over the course of 2 hours, a Blacksmith can maintain a number of weapons or sets of armor equal to their proficiency bonus, granting each weapon or armor maintained a special d6 Quality Die.</p>
<p>For a weapon, this can be rolled and added to an attack or damage roll, representing a case where the perfect state of the gear turned a miss into a hit or dealt a bit of extra damage. For a set of armor, the die can be rolled when hit by an attack, and the damage taken from that attack can be reduced by that amount.</p>
<p>Rolling this die doesn’t require an action, but once rolled it is spent and can’t be regained until the blacksmith maintains that armor or weapon again.</p>

<h4>Modify Armor</h4>
<p>While the field crafting of armor is often not possible, you can make smaller adjustments on the go. Over the course of 2 hours, you can turn a set of plate mail into a half plate or a breastplate, refit a set of heavy or medium armor to fit another user that is equal in size or smaller than the original user.</p>

<h4>Modify Weapon</h4>
<p>Every adventure has slightly different preferences in their gear, and your skills allow you make slight modifications to nonmagical weapons made of metal. These modifications take 2 hours, require a heat source, and require you to pass a DC 14 blacksmithing tool’s check (on failure, the weapon is damaged and has a −1 penalty to its attack rolls until fixed). You can perform one of the following modifications:</p>
<ul>
    <li>You can weight a weapon, giving it the heavy property. If it did not already have the two-handed property, it gains the two-handed property.</li>
    <li>You can remove the heavy property from a weapon, reducing its damage dice by d2.</li>
    <li>You can add the light property to a weapon without the heavy property, reducing its damage dice by d2.</li>
    <li>You can silver the weapon (requires 5 silver scraps, doubled for two handed weapons).</li>
</ul>

<h4>Repair Gear</h4>
<p>Sometime in the course of adventuring, weapons or armor will become severely damaged, suffering a penalty to its attack rolls or AC. Over the course of 2 hours, you can repair this damage, though at the discretion of the GM you may need other materials to perform this task if it is heavily damaged. Weapons that are entirely broken (such as a snapped sword) are generally beyond simple repair.</p>