<h2>Cooking</h2>
<p>Adventures need to eat. While some are content to eat the same stale old rations, some prefer to apply their skills to be kept well fed... even in the depths of a dungeon where fresh ingredients can be... strange.</p>
<p>Not only can someone with talent produce tasty treats, but being well fed can have a variety of benefits... particularly when eating correctly prepared magical ingredients</p>

<h3>Quick Reference</h3>
<p>While each step will go into more depth, the quick reference allows you to at a glance follow the steps to make a meal in its most basic form:</p>
<ul>
    <li>Acquire a fresh ingredient by harvesting or finding it.</li>
    <li>Review the Recipe Tables for Feasts, Snacks or Rations that ingredient would qualify for, and gather the other materials needed listed in the Materials column.</li>
    <li>Use your cook’s utensils tool to craft the option using the number of hours listed in the Crafting Time column, or use the crafting camp action, during a long rest, if the crafting time is 2 hours or less. Meals must be crafted in a single crafting session. All meals require a heat source (such as a campfire).</li>
    <li>For every 2 hours, make a crafting roll of 1d20 + your Wisdom modifier + your proficiency bonus with cook’s utensils. You can abort the craft after a bad crafting roll if you wish, this counts as a failure.</li>
    <li>On success, you mark 2 hours of completed time. Once the completed time is equal to the crafting time, the meal is complete. On failure, the crafting time is lost and no progress has been made during the 2 hours. If you fail 3 times in a row, the crafting is a failure and all materials are lost.</li>
</ul>

<h3>Related Tool & Ability Score</h3>
<p>Cooking works using cook’s utensils. Attempting to craft a meal without these will almost always be made with disadvantage, and proficiency with these allows you to add your proficiency to any cooking crafting roll. Cooking uses your Wisdom modifier.</p>

<h3>Duration</h3>
<p>The duration a meal remains edible depends on the type of meal made. A feast must be consumed within an hour, a snack lasts for 1 day, and rations lasts 1 month.</p>

<h3>Ingredients</h3>
<p>The materials for cooking are fresh ingredients and supplies. A fresh ingredient is something you harvest that can increase the quality of your food and sometimes provide supernatural boosts beyond mere satiation. Staples include seasonings, spices, flour or even turnips! Foods that last awhile can be cooked into perfectly fine meals, but have less benefits than eating a good meal. Some ingredients additionally have the exotic property, and may confer special effects.</p>

<h4>Ingredient Expiration</h4>
<p>Normal Ingredients expire very quickly, and must be used within 24 hours of being harvested or they become unusable. Preserved rations would fall into the staples category and cannot typically be used to cook anything besides basic meals.</p>
<p>The ability to gain any sort of magical benefit is linked to its freshness; even well prepared preserved foods provide only the benefit of a Basic Meal (which is a satisfying and good tasting meal, but its benefits are not otherwise magical).</p>
<p>Unlike Fresh Ingredients, Staples last significantly longer and do not need to have their expiration tracked for the purposes of this system.</p>

<h4>Satiation</h4>
<p>The magical benefits you get consuming rare and magical foods cannot be gained again until 24 hours have passed for any particular food. When combined with the ingredient expiration above, this typically means that any ingredient collected is only good for a single meal; this is intentional. You can harvest more if you wish, but cooking naturally is a profession of fleeting achievement and fickle opportunity.</p>

<h3>Crafting Roll</h3>
<p>Putting that together means that when you would like to create a meal, your crafting roll is as follows:</p>
<p class="center"><strong>Cooking Modifier</strong> = your Cook’s Utensils proficiency bonus + your Wisdom modifier</p>

<h4>Success and Failure</h4>
<p>For cooking, all crafting rolls must be made consequetively. Make all checks listed for the items. If you succeed a greater number of times than you fail, the meal is successfully completed, otherwise, it is inedible and all ingrediants are lost.</p>

<h3>Exotic Ingredients</h3>
<p>While standard meals are made from a selection of ingredient types and generally a seasoning, exotic ingredients have specialized effects. When making a meal from these ingredients, the meal’s effect is a combination of the effect of the exotic ingredients added.</p>
<p>An Exotic Meal (meal cooked entirely from exotic ingredients) doesn’t need a recipe and has a crafting time of 1 hour, and the difficulty is the difficulty of all the exotic ingredients added together, with 1 check needed per exotic ingredient added.</p>
<p>Exotic ingredients can be combined with a standard meal by adding the DC of the standard meal to the combined difficulty of the exotic ingredients added. This can cause unusual meals and frequently has unattainably high difficulty to make it work, as adding random new components to meals typically wrecks the taste.</p>

<h3>Basic Cooking & Camp Actions</h3>
<p>While the rules present a handful of ways to use cooking for more exotic ends, the most common application of cooking is just to produce an edible meal during a long rest—something any adventuring group would welcome. This is called a Quality Meal and provides greater benefit than rations, though the benefits it provides are not magical, and merely stem from it being a satisfying meal. You can do so by expending 1 fresh ingredient of any type and 1 common supplies to feed up to 5 allies or willing creatures, or by spending common supplies per creature being cooked for. These materials must have been purchased within the last week. Any creature, even one not proficient with cook’s utensils can take this action.</p>
<p>You and all willing creatures (willing to eat your cooking) regain an additional Hit Die (up to their maximum). If you have proficiency with cook’s utensils, creatures regain additional Hit Dice equal to your Proficiency bonus.</p>

<h3>Purchasing Materials</h3>
<p>Due to the rules on ingredient freshness, typically ingredients cannot be purchased in a way that is relevant for cooking recipes. You can purchase Supplies (of any type) that can be used to make Basic Meals.</p>

<table>
    <tr>
        <th>Rarity</th>
        <th>Material Price</th>
    </tr>
    <tr>
        <td>Supplies (Salt, Staples, etc)</td>
        <td>1 gp</td>
    </tr>
    <tr>
        <td>Uncommon Supplies (Uncommon spices, oils, rare seeds, etc)</td>
        <td>10 gp</td>
    </tr>
    <tr>
        <td>Rare Supplies (Hard to get luxury goods)</td>
        <td>100 gp</td>
    </tr>
</table>

<h3>Harvesting Ingredients</h3>
<p>Unlike other things, you can harvest from monsters, as there’s little chance of failure in harvesting. There’s generally more to harvest than meaningfully used. You can consume Monstrosity, Dragon, Beast and Plant Type creatures for magical benefits. However, your GM may allow other creature types as special delicacies at their discretion.</p>

<table>
    <tr>
        <th>Monster CR</th>
        <th>Gathering Ingredients</th>
    </tr>
    <tr>
        <td>1/4–4</td>
        <td>Common</td>
    </tr>
    <tr>
        <td>5–8</td>
        <td>Uncommon</td>
    </tr>
    <tr>
        <td>9–12</td>
        <td>Rare</td>
    </tr>
    <tr>
        <td>13–16</td>
        <td>Very Rare</td>
    </tr>
    <tr>
        <td>16–20</td>
        <td>Legendary</td>
    </tr>
</table>