<h2>Enchanting</h2>
<p>Enchanting is a hard and expensive profession, but one eagerly pursued by many all the same. The makers of miracles, the craftsmen of wonder, no other profession holds the fascination of adventurers quite like Enchanter, for their domain encompasses the large majority of magical items.</p>
<p>An item need not pass through an enchanter’s hands to be magical, indeed many a blacksmith has forged a magical blade with the right materials, but the true wonder of enchantment is to turn the mundane magical. An enchanter can turn even the most base and commonplace item into something wonderful and powerful, and when given the head start of working with an already well crafted item can craft things of legend.</p>
<p>Many enchanters further specialize in subdomains such as Scroll Scribing or Wand Whittling for more specialized good that require more specialized tools, with many even pursuing such things as Jewelry Crafting in order to create the precious items that most easily enchant, but the general field of Enchanting still covers a large swath of the wondrous</p>
<p>Scrolls are heavily featured as a component of nearly all magical items, forming the basis for the powerful enchant- ments that imbue them with their magic. These are templates of a sort, and thus the ability to craft scrolls with Scroll Scribery is often the most desired of the subdomains for an Enchanter.</p>

<h3>Quick Reference</h3>
<p>While each step will go into more depth, the quick reference allows you to at a glance follow the steps to make a magic item in its most basic form.</p>
<ul>
    <li>Select the magic item that you would like to craft from any of the Magic Item Tables.</li>
    <li>Acquire the items listed in the materials column for that item.</li>
    <li>Use your Arcana skill to infuse the option using the number of hours listed in the Crafting Time column, or during a long rest using the crafting camp action if the crafting time is 2 hours or less.</li>
    <li>For every 2 hours, make a crafting roll of 1d20 + your Intelligence modifier + your Arcana proficiency.</li>
    <li>On success, you mark 2 hours of completed time. Once the completed time is equal to the crafting time, the magic item is complete. On failure, the crafting time is lost and no progress has been made during the 2 hours. If you fail 3 times in a row, the crafting is a failure and all materials are lost.</li>
</ul>

<h3>Related Skill & Ability Score</h3>
<p>Rather than any one tool, Enchanting primarily uses the Arcana skill. Due to the subdomains of scrolls (Scroll Scribing) and runes (Runecraft) being part of enchanting, proficiency in Calligraphy Tools is often useful.</p>
<p>Enchanting uses your Intelligence modifier. While magic comes in many forms (Arcane, Primal, Divine) and many casters are able to control it with other aspects of their talent, the ability to systematically bind it into magic items requires a deep understanding of its inner workings that can only be accomplished through meticulous study and knowledge.</p>

<h3>Materials: Essences & Components</h3>
<p>The materials of enchanting are Essences and Components. Essences come in three different types: Arcane, Primal, and Divine—as well as five rarities: common, uncommon, rare, very rare, and legendary. What an Essence is can vary greatly, as they are things of innate magic that is used to power the Enchanter’s creations</p>
<p>hey could be organs of magical monsters (such as the heart of a dragon which would be a rare primal essence) or they can be synthesized from magical reagents into a magical compound. Components are a broad category of items ranging from the base item you are enchanting to any extraneous bits needed to be added. One unique component that is present in many enchantments is a Spell Scroll of various types of spells that form the basis of the sort of the magic the item has.</p>

<h3>Replacing Spell Scrolls</h3>
<p>A crafter that is capable of casting magic can replace the spell scroll in an enchantment with the ability to cast that spell, but when doing so they must cast that spell for each crafting check they make on that item. This is an exhausting process, draining their magic far more deeply than normal casting, and confers a level of exhaustion each time this technique is used to replace a crafting check. If a magic item requires multiple scrolls, only one of them can be replaced in this way, though if an additional spell caster that can cast the necessary spell can assist you, they can replace a second scroll, though suffering the same penalty.</p>

<h3>Crafting Roll</h3>
<p>Putting that together means that when you would like to enchant an item, your crafting roll is as follows:</p>
<p class="center"><strong>Enchanting Modifier</strong> = your Arcana proficiency bonus + your Intelligence modifier</p>

<h4>Success and Failure</h4>
<p>After you make a crafting roll, if you succeed, you make 2 hours of progress toward the total crafting time (and have completed one of the required checks for making an item).</p>
<p>Checks for Enchanting do not need to be immediately consecutive. If you fail three times in a row, all progress and materials are lost and can no longer be salvaged. Failure means that no progress is made during that time</p>
<p>Once an item is started, even if no progress is made, the components reserved for that item can only be recovered via salvage</p>