<h2>Poisoncraft</h2>
<p>A subdomain of alchemy, the profession of poisoncraft is often seen as the “dark side” of Alchemy. While Alchemy often deals in poisonous reagents, typically speaking they aim to tame the poison, channeling it into useful effects. While capable of making crudely poisonous potions, such things are generally considered failures to an alchemist. To a poisoner, they are considered the art itself.</p>
<p>Poisoncraft shares Shelf Life and Reagents with Alchemy; for details regarding those, see Alchemy.</p>

<h3>Quick Reference</h3>
<p>While each step will go into more depth, the quick reference allows you to at a glance follow the steps to make a potion in its most basic form:</p>
<ul>
    <li>Select a poison that you would like to craft from the “Poison Crafting Table”.</li>
    <li>Acquire the items listed in the materials column for that potion.</li>
    <li>Use your Poisoner’s Kit tool to craft the option using the number of hours listed in the Crafting Time column, or during a long rest using the crafting camp action if the crafting time is 2 hours or less. Poisoncraft items must be crafted in a single session.</li>
    <li>For every 2 hours, make a crafting roll of 1d20 + your Intelligence or Wisdom modifier (your choice) + your proficiency bonus with a Poisoner’s Kit. You can abort the craft after a bad crafting roll if you wish, this counts as a failure.</li>
    <li>On success, you mark 2 hours of completed time. Once the completed time is equal to the crafting time, the magic item is complete. On failure, the crafting time is lost and no progress has been made during the 2 hours. If you fail 3 times in a row, the crafting is a failure and all materials are lost.</li>
</ul>

<h3>Related Tool & Ability Score</h3>
<p>Poisoncraft works using Poisoner’s Kit. Attempting to craft a potion without these will almost always be made with disadvantage, and proficiency with these allows you to add your proficiency to any poisoncraft crafting roll.</p>
<p>Poisoncraft uses your choice of your Intelligence or Wisdom modifier, representing your path of knowledge to the art of making deadly things deadlier.</p>

<h4>Applying the Poison</h4>
<p>Applying an Injury poison to a weapon or a Contact poison to an object, requires a poisoner’s kit and proficiency with it. To attempt to apply the poison without a kit, make a DC 15 Dexterity check, adding your proficiency bonus if you are proficient with the poisoner’s kit. On a failure, the poison is not applied and you suffer the effects of the poison.</p>

<h3>Crafting Roll</h3>
<p>Putting that together means that when you would like to create poison, your crafting roll is as follows:</p>
<p class="center"><strong>Poisoncraft Modifier</strong> = your Poisoner’s Kit proficiency bonus + your Intelligence or Wisdom modifier (your choice).</p>

<h4>Poisoncraft Saving Throw</h4>
<p>When a poison requires a saving throw, the following is the formula for calculating the saving throw. The saving throw is calculated at the time of creation based on the creators attributes and proficiency, and doesn’t change once it is created.</p>
<p class="center"><strong>Poison DC</strong> = 8 + your Poisoner’s Kit proficiency bonus + your Intelligence or Wisdom Modifier (your choice).</p>

<h4>Success and Failure</h4>
<p>For Poisoncraft, after you make the crafting roll and succeed, mark your progress on a crafting project. If you succeed, you make 2 hours of progress toward the total crafting time (and have completed one of the required checks for making an item). Checks for Poisoncraft do not need to be immediately consecutive. Failure means that no progress is made during that time. Once an item is started, even if no progress is made, the components reserved for that item can only be recovered via salvage.</p>
<p>If you fail three times in a row, all progress and materials are lost and can no longer be salvaged.</p>

<h3>Poisons</h3>
<p>Given their insidious and deadly nature, poisons are illegal in most societies but are a favorite tool among assassins, drow, and other evil creatures.</p>
<p>Poisons come in the following four types.</p>
<p style="text-indent: 0"><strong>Contact.</strong> Contact poison can be smeared on an object and remains potent until it is touched or washed off. A creature that touches contact poison with exposed skin suffers its effects.</p>
<p style="text-indent: 0"><strong>Ingested.</strong> A creature must swallow an entire dose of ingested poison to suffer its effects. The dose can be delivered in food or a liquid. You might decide that a partial dose has a reduced effect, such as allowing advantage on the saving throw or dealing only half damage on a failed save.</p>
<p style="text-indent: 0"><strong>Inhaled.</strong> These poisons are powders or gases that take effect when inhaled. Blowing the powder or releasing the gas subjects creatures in a 5-foot cube to its effect. The resulting cloud dissipates immediately afterward. Holding one’s breath is ineffective against inhaled poisons, as they affect nasal membranes, tear ducts, and other parts of the body.</p>
<p style="text-indent: 0"><strong>Injury.</strong> Injury poison can be applied to weapons, ammunition, trap components, and other objects that deal piercing or slashing damage. An injury poison typically lasts 1 minute on a weapon, and lasts for up to 5 hits. A creature that takes piercing or slashing damage from an object coated with the poison is exposed to its effects.</p>