<h2>Runecarving</h1>
<p>Runecarving is the art of marking special magical enhancements in the form of magical runes. These are symbolic representations that channel and focus power to confer a special magical effect to the item they are marked on.</p>

<h3>Quick Reference</h3>
The following is a quick reference to follow for each step of carving runes:
<ul>
    <li>Select a basic item you would like to mark a rune on. This can be an mundane item, gem, nonmagical weapon, or nonmagical armor.</li>
    <li>Select a rune you would like to mark on that item from the table based on the item type.</li>
    <li>Acquire the materials listed in the materials column for that rune.</li>
    <li>Use your Related Tool (based on your Runecraving tradition) to craft the option using the number of hours listed in the crafting time column. You can make progress in 2 hour increments.</li>
    <li>For every 2 hour increment, make a crafting roll of 1d20 + your Wisdom or Intelligence (based on your Tradition) + your Proficiency bonus with your related tool.</li>
    <li>On success, you mark 2 hours of completed time. Once the completed time is equal to the crafting time, the item is complete. On failure, the crafting time is lost and no progress has been made during the 2 hours. If you fail three times in a row, the crafting is a failure and all materials are lost.</li>
</ul>

<h3>Related Tool & Ability Score</h3>
<p>Rune carving comes in two different traditions; you can mark runes from either tradition, but they require different tool proficiency and ability modifiers.</p>

<h4>Ancient Tradition</h4>
<p>The runes of the Giants, Dwarves, and other ancient traditions. Your ability modifier for this tradition is Wisdom, and you can select your related tool from Mason’s Tools or Painter’s Supplies.</p>

<h4>Academic Tradition</h4>
<p>The runes of mages, scholors, and elves, these traditions are not necessarily any less ancient, but runecarvers of these traditions seek new knowledge and expression, rather than being rooted in the old ways. Your ability modifier for this tradition is Intelligence, and you can select your relted tool from Calligrapher’s Supplies or Woodcarver’s Tools.</p>

<h3>Materials</h3>
<p>Runecarving uses primarily magical ink and essences to imbue their runes with the prerequisite magical properties.</p>

<h3>Crafting Roll</h3>
<p><strong>Ancient Tradition Runecarver Modifier</strong> = your Mason’s Tools or Painter’s Supplies (your choice) proficiency bonus + your Wisdom modifier</p>
<p><strong>Academic Tradition Runecarver Modifier</strong> = your Calligrapher’s Supplies or Woodcarver’s Tools (your choice) proficiency bonus + your Intelligence modifier</p>

<h4>Success and Failure</h4>
<p>After you make a crafting roll, if you succeed, you make 2 hours of progress toward the total crafting time (and have completed one of the required checks for making an item).</p>
<p>Checks for Runecarving do not need to be immediately consecutive. If you fail three times in a row, all progress and materials are lost and can no longer be salvaged. Failure means that no progress is made during that time.</p>
<p>Once an item is started, even if no progress is made, the components reserved for that item can only be recovered via salvage.</p>

<h3>Runecarving Saving Throw</h3>
<p>Some runes require a saving throw, the following is the formula for calculating the saving throw. The saving throw is calculated at the time of creation based on the creators attributes and proficiency, and doesn’t change once it is created. A saving throw doesn’t include any expertise or other bonuses a crafter has to the crafting roll.</p>
<p class="center"><strong>Rune DC</strong> = 8 + your related proficiency bonus + your Wisdom or Intelligence modifier (based on your Tradition).</p>
<p class="center"><strong>Rune Attack Roll Modifier</strong> = your related tool proficiency bonus + your Wisdom or Intelligence modifier (based on your Tradition).</p>

<h3>Placing a Rune</h3>
<p>You can place a rune a nonmagical weapon, set of armor, or item. When you place an rune on an item, that item requires attunement. When a creature is attuned to it, the rune grants the wielder certain benefits as defined by the rune. An item becomes a magical item of the rarity of the rune placed on it when a rune is palced on it.</p>

<h4>Runes on Magical Items</h4>
<p>Placing a rune on a magical item is exceedingly difficult. Magical items resist modification, and their magic interfers with the rune. It can be done with additional difficult as per the table below. If the item has attunement, the rune still requires seperate attunement.</p>

<table>
    <tr>
        <th>Item Rarity</th>
        <th>Rune Difficulty Modifier</th>
    </tr>
    <tr>
        <td>Common</td>
        <td>+5</td>
    </tr>
    <tr>
        <td>Uncommon</td>
        <td>+7</td>
    </tr>
    <tr>
        <td>Rare</td>
        <td>+10</td>
    </tr>
    <tr>
        <td>Very Rare</td>
        <td>+14</td>
    </tr>
    <tr>
        <td>Legendary</td>
        <td>+20</td>
    </tr>
</table>