<h2>Scrollscribing</h2>
<p>Scrollscribing is the process of creating magical scrolls. Critical both as useful ways to cast spells and as the core of the magic formula used in enchanting, every adventuring group’s magic blokes are well served by the ability to make scrolls.</p>
<h3>Quick Reference</h3>
<p>While each step will go into more depth, the quick reference allows you to at a glance follow the steps to make a scroll in its most basic form:
<ul>
    <li>Select a spell you know that you would like to craft from spells you are able to cast, or through Alternate Methods (see “Magic Formula”).</li>
    <li>Acquire the items listed in the materials column for a scroll of that level and type.</li>
    <li>Use your Calligraphy Tools to write the scroll using the number of hours listed in the Crafting Time column, or during a long rest using the crafting camp action if the crafting time is 2 hours or less.</li>
    <li>For every 2 hours, make a crafting roll of 1d20 + your Intelligence modifier + your proficiency with Calligraphy Tools (if you have proficiency in the Arcana skill)</li>
    <li>On success, you mark 2 hours of completed time. Once the completed time is equal to the crafting time, the magic item is complete. On failure, the crafting time is lost and no progress has been made during the 2 hours. If you fail 3 times in a row, the crafting is a failure and all materials are lost.</li>
</ul>
<h3>Related Tool & Ability Score</h3>
<p>Scrollscribing works using Calligraphy Tools. Attempting to craft a scroll without these is impossible.</p>
<p>The related ability score is Intelligence. While spellcasters of any stripe can make scrolls of the spells they know, the process is one of systematic application of magical theory to lay down the spell in a function that can later be used.</p>
<p>Additionally, like its kin Wand Whittling and Enchanting, proficiency in Arcana is required; without proficiency in arcana, you can’t add your Tool proficiency to the crafting roll.</p>

<h3>Materials: Ink & Parchment</h3>
<p>The materials for Scrollscribing are Ink and Parchment. Ink and Parchment used in scrolls is typically purchased, and below are the price tables. Some types of rare parchment may be processed from rare alchemical ingredients by an alchemist or from the hides of magical creatures by a leatherworker. If they are found as part of treasure, they are calculated as any other precious non-currency treasure would be calculated.</p>
<p>The ink used to create scrolls must be a special formulation that allows it to contain the magical essence behind the glyphs, script, runes, and words that make up a magical scroll. This ink is created by alchemists, but can be purchased at the below rates:</p>
<table>
    <tr>
        <th>Component</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Common Magical Ink</td>
        <td>15 gp</td>
    </tr>
    <tr>
        <td>Common Parchment</td>
        <td>1 sp</td>
    </tr>
    <tr>
        <td>Uncommon Magical Ink</td>
        <td>40 gp</td>
    </tr>
    <tr>
        <td>Uncommon Parchment</td>
        <td>40 gp</td>
    </tr>
    <tr>
        <td>Rare Magical Ink</td>
        <td>200 gp</td>
    </tr>
    <tr>
        <td>Rare Parchment</td>
        <td>200 gp</td>
    </tr>
    <tr>
        <td>Very Rare Magical Ink</td>
        <td>2,000 gp</td>
    </tr>
    <tr>
        <td>Very Rare Parchment</td>
        <td>2,000 gp</td>
    </tr>
    <tr>
        <td>Legendary Magical Ink</td>
        <td>5,000 gp</td>
    </tr>
    <tr>
        <td>Legendary Parchment</td>
        <td>5,000 gp</td>
    </tr>
</table>

<h3>Crafting Roll</h3>
<p>When you would like to create a scroll, it will depend on your Intelligence and skill with Calligrapher’s tools:</p>
<p class="center"><strong>Scrollscribing Modifier</strong> = your Calligrapher’s Tools proficiency bonus + your Intelligence modifier.</p>

<h4>Success and Failure</h4>
<p>After making a crafting roll, if you succeed, you make 2 hours of progress toward the total crafting time (and have completed one of the required checks for making an item).</p>
<p>Checks for Scrollscribing do not need to be immediately consecutive. If you fail three times in a row, all progress and materials are lost and can no longer be salvaged. Failure means that no progress is made during that time.</p>
<p>Once an item is started, even if no progress is made, the components reserved for that item can only be recovered via salvage.</p>

<h4>Crafting Without Essence</h4>
<p>A crafter that is capable of casting magic can replace the essence when crafting a spell scroll with the ability to cast that spell, but when doing so they must cast that spell for each crafting check they make on that item. This is an exhausting process, draining their magic far more deeply than normal casting, and confers a level of exhaustion for each crafting check made this way.</p>

<h3>Magical Formula</h3>
<p>To craft a spell scroll, you must know the Magic Formula of the spell you want to make a Spell Scroll of. The easiest way to do this is to be able to cast the spell. You always know the Magic Formula of a spell you know how to cast. Otherwise, you need to have deep knowledge of the spell to be able to make a scroll of it. The following are some ways you can gain that knowledge:</p>
<ul>
    <li>Have it in your spellbook as a Wizard.</li>
    <li>Have it in your spellmanual as an Infusionsmith Inventor.</li>
    <li>Have it in your ritual book as a ritual caster.</li>
    <li>Have a spell scroll of it (DC +2)</li>
    <li>Study its magical formula and record it. To learn a spell in this way requires proficiency in arcana and 1 day (8 hours per day) of study per level of the spell, as well as access to a teacher or book that records the spell. Once learned, you can record it in a Magical Formula book and can subsequently make scrolls of it.</li>
</ul>

<h4>Scroll Essence Type</h4>
<p>The type of Essence is determined by the spell list the spell comes from; if it is on multiple spell lists, it is determined by how you have access to the spell. If you have access to the spell via multiple lists or the written form of the spell, you can pick which Essence to use for spells that have multiple options.</p>
<table>
    <tr>
        <th>Essence Type</th>
        <th>Spell List</th>
    </tr>
    <tr>
        <td>Arcane</td>
        <td>Inventor, Bard, Occultist, Sorcerer, Warlock, Wizard</td>
    </tr>
    <tr>
        <td>Divine</td>
        <td>Cleric, Occultist, Paladin</td>
    </tr>
    <tr>
        <td>Primal</td>
        <td>Druid, Occultist, Ranger</td>
    </tr>
    <tr>
        <td>Psionic</td>
        <td>Monk, Psion</td>
    </tr>
</table>