<h2>Tinkering</h2>
<p>Tinkering is applying creativity to junk to make new things. Sometimes even useful new things. Ranging from the humble crafts to complex contraptions, tinkering is a broad category that any adventuring party can benefit from.</p>
<p>Oft the purview of peddlers and wanderers, they have a broad skill set and tend to excel at working with limited resources and their wit rather than expensive shopping lists of materials, though many will say they have a bad habit of collecting too much junk with the idea that things can be handy when you would least expect it...</p>                

<h3>Quick Reference</h3>
<p>While each step will go into more depth, the quick reference allows you to at a glance follow the steps to tinker up an item in its most basic form:</p>
<ul>
    <li>Select the item that you would like to craft from any of the Tinkering Crafting Tables.</li>
    <li>Acquire the items listed in the materials column for that item.</li>
    <li>Use your tinker’s tools to craft the option using the number of hours listed in the Crafting Time column, or during a long rest using the crafting camp action if the crafting time is 2 hours or less.</li>
    <li>For every 2 hours, make a crafting roll of 1d20 + your Intelligence + your proficiency bonus with tinker’s tools.</li>
    <li>On success, you mark 2 hours of completed time. Once the completed time is equal to the crafting time, the item is complete. On failure, the crafting time is lost and no progress has been made during the 2 hours. If you fail 3 times in a row, the crafting is a failure and all materials are lost</li>
</ul>

<h3>Related Tool & Ability Score</h3>
<p>Tinkering works using tinker’s tools. Attempting to tinker item without these will almost always be made with disadvantage, and proficiency with these allows you to add your proficiency in them to any Tinkering crafting roll</p>
<p>Most of the time tinkers need only the minimal heat of a basic fire and their tools to work, though any craft that requires an ingot may require a forge at the discretion of the GM</p>

<h3>Materials: Parts and Scrap</h3>
<p>Tinkering uses metal scraps, miscellaneous parts (simply referred to as “parts”), and, in cases of making more magically functional things, essences to imbue them with their power. The term “parts” is used to refer to gears, wires, springs, windy bits, screws, nails, and doodads. Parts can be either found or salvaged or forged from metal scraps (or even straight from ingots by a Blacksmith for those that really want to be industrial about it). The exact nature of each item making up this collection is left abstracted</p>
<p>In addition, metal scraps are collections of salvaged material that generally fall into the category of things “too small to track” which can then be used for the creations of tinkerers. In addition to all of this, occasionally tinkers will use ingots... particularly ones of tin (which is their namesake, after all).</p>
<p>Like other crafting branches, there are also named components for more iconic pieces of gear—the stock of a crossbow, for example, or other items. The cost for these items can be found on the common component table, and are generally minor.</p>
<p>Lastly, Tinkerers use essences when constructing things that push beyond the mundane principles of plausibility, crafting magical properties into their inventions.</p>

<h3>Crafting Roll</h3>
<p>Putting that together means that when you would like to smith an item, your crafting roll is as follows:</p>
<p class="center"><strong>Tinkering Modifier</strong> = your Tinker’s Tools proficiency bonus + your Intelligence modifier</p>

<h4>Success and Failure</h4>
<p>For Tinkering, after you make the crafting roll and succeed, mark your progress on a crafting project. If you succeed, you make 2 hours of progress toward the total crafting time (and have completed one of the required checks for making an item). Checks for Tinkering do not need to be immediately consecutive. Failure means that no progress is made during that time. Once an item is started, even if no progress is made, the components reserved for that item can only be recovered via salvage.</p>
<p>If you fail three times in a row, all progress and materials are lost and can no longer be salvaged.</p>

<h3>Tinkering Saving Throw</h3>
<p>Some gadgets a Tinkerer creates require a saving throw, the following is the formula for calculating the saving throw. The saving throw is calculated at the time of creation based on the creators attributes and proficiency, and doesn’t change once it is created. A saving throw doesn’t include any expertise or other bonuses a crafter has to the crafting roll.</p>