<h2>Wand Whittling</h2>
<p>Unlike many magic items that are crafted and then enchanted with magic, a wand is purpose built to store the magic it will contain, worked from wood and infused with magic as a single process, with different intricacies based on the type of magic it will wield.</p>
<p>Wands are very valuable to adventurers, and the power they wield should never be underestimated, as they can save precious resources. While the typical wand is an attunement item that can recharge, there is a weaker variety of lesser wands that are consumable items, more akin to multi-use scrolls that are easier to make.</p>

<h3>Quick Reference</h3>
<p>While each step will go into more depth, the quick reference allows you to at a glance follow the steps to tinker up an item in its most basic form:</p>
<ul>
    <li>Select a wand from the Greater Wand Table you would like to make, or a spell you would like to make a Lesser Wand of.</li>
    <li>Acquire the items listed in the materials column for a Wand from the appropriate table.</li>
    <li>Use your Woodcarver’s tools to create the wand using the number of hours listed in the Crafting Time column, or during a long rest using the crafting camp action if the crafting time is 2 hours or less.</li>
    <li>For every 2 hours, make a crafting roll of 1d20 + your</li>
    <li>Dexterity modifier + your proficiency with Woodcarver’s tools. On success, you mark 2 hours of completed time. Once the completed time is equal to the crafting time, the wand is complete. On failure, the crafting time is lost and no progress has been made during the 2 hours. If you fail 3 times in a row, the crafting is a failure and all materials are lost.</li>
</ul>

<h3>Related Tool & Ability Score</h3>
<p>Wand whittling works using Woodcarver’s tools. Attempting to craft a wand without these is impossible.</p>
<p>The related ability score is Dexterity. While spellcasters of any stripe can make wands of the spells they know, the process is one of systematic application of magical theory to integrate the spell into a wand in a function that can later be used</p>
<p>Additionally, like Scroll Scribing and Enchanting, proficiency in Arcana is required; without proficiency in arcana, you can’t add your Tool proficiency to the crafting roll.</p>

<h3>Materials: Wood & Essence</h3>
<p>The Materials for Wand Whittling are wood and essences. The wood used in wands is typically purchased, and below are the table of prices. If they are found as part of treasure, they are calculated as any other precious non-currency treasure would be calculated. Low-level wands can use common woods that are not magically attuned, but more powerful magic will cause such mundane wood to instantly splinter or catch fire, requiring the use of rare and exotic woods. </p>
<p>Essences are varied in nature, but are what power wands. Essences are shared with Enchanting, and more details can be gleaned from the Essences section under Enchanting.</p>

<h4>Purchasing Wooden Branches</h4>
<p>Like with many materials, one popular method of acquisition is to simply spend gold. A piece of wood here is typically a branch about 2–3 feet long and moderately narrow, suitable for a wand with some whittling.</p>

<table>
    <tr>
        <th>Rarity</th>
        <th>Material Price</th>
    </tr>
    <tr>
        <td>Common Branch</td>
        <td>1 sp</td>
    </tr>
    <tr>
        <td>Uncommon Branch</td>
        <td>25 gp</td>
    </tr>
    <tr>
        <td>Rare Branch</td>
        <td>80 gp</td>
    </tr>
    <tr>
        <td>Very Rare Branch</td>
        <td>800 gp</td>
    </tr>
    <tr>
        <td>Legendary Branch</td>
        <td>2,000 gp</td>
    </tr>
</table>

<h3>Crafting Roll</h3>
<p>When you would like to make a wand, it relies on your woodcarver’s tools, and Dexterity to use them.</p>
<p><strong>Wand Whittling Modifier</strong> = your Woodcarver’s Tools proficiency bonus + your Dexterity modifier</p>

<h4>Success and Failure</h4>
<p>For Wand Whittling, after you make the crafting roll and succeed, mark your progress on a crafting project. If you succeed, you make 2 hours of progress toward the total crafting time (and have completed one of the required checks for making an item). Checks for Wand Whittling do not need to be immediately consecutive. Failure means that no progress is made during that time. As usual, failing three times in a row results in the crafting project being a failure, and all materials are lost.</p>

<h3>Wand Whittling Saving Throw</h3>
<p>Some wands require a saving throw, the following is the formula for calculating the saving throw. The saving throw is calculated at the time of creation based on the creators attributes and proficiency, and doesn’t change once it is created. A saving throw doesn’t include any expertise or other bonuses a crafter has to the crafting roll.</p>

<p class="center">
    <strong>Wand DC</strong> = 8 + your related tool proficiency bonus + your Intelligence modifier
</p>

<h3>Lesser & Greater Wands</h3>
<p>Many adventurers are most familiar with greater wands, forged with such skill and power that their power regenerates each day at dawn, providing nearly unlimited ability to wield magic. These are, however, the more rare exception: Greater Wands. Their weaker cousins (Lesser Wands) work in a similar fashion, but do not naturally recharge, and must be recharged to be used again.</p>

<h4>Recharging Lesser Wands</h4>
<p>Many adventurers are most familiar with greater wands, forged with such skill and power that their power regenerates each day at dawn, providing nearly unlimited ability to wield magic. These are, however, the more rare exception: Greater Wands. Their weaker cousins (Lesser Wands) work in a similar fashion, but do not naturally recharge, and must be recharged to be used again.</p>

<h3>Magical Formula</h3>
<p>For Greater Wands, they have known formulas that can be deduced as part of crafting (as with Enchanting), and you do not need to know the spell or effect before crafting the Wand, though they are typically harder to craft.</p>
<p>To craft a Lesser Wand, you must know the Magic Formula of the spell you want to make a Lesser Wand of. The easiest way to do this is to be able to cast the spell. You always know the Magic Formula of a spell you know how to cast. Otherwise, you need to have deep knowledge of the spell to be able to make a Lesser Wand of it. The following are some ways you can gain that knowledge:</p>
<ul>
    <li>Have it in your spellbook as a Wizard.</li>
    <li>Have it in your spellmanual as an Infusionsmith Inventor.</li>
    <li>Have it in your ritual book as a ritual caster.</li>
    <li>Have a spell scroll of it (DC +2)</li>
    <li>Study its magical formula and record it. To learn a spell in this way requires proficiency in arcana and 1 day (8 hours per day) of study per level of the spell, as well as access to a teacher or book that records the spell. Once learned, you can record it in a Magical Formula book and can subsequently make scrolls of it.</li>
</ul>

<h4>Lesser Wand Essence Type</h4>
<p>The type of Essence is determined by the spell list the spell comes from; if it is on multiple spell lists, it is determined by how you have access to the spell. If you have access to the spell via multiple lists or the written form of the spell, you can pick which Essence to use for spells that have multiple options.</p>
<table>
    <tr>
        <th>Essence Type</th>
        <th>Spell List</th>
    </tr>
    <tr>
        <td>Arcane</td>
        <td>Inventor, Bard, Occultist, Sorcerer, Warlock, Wizard</td>
    </tr>
    <tr>
        <td>Divine</td>
        <td>Cleric, Occultist, Paladin</td>
    </tr>
    <tr>
        <td>Primal</td>
        <td>Druid, Occultist, Paladin</td>
    </tr>
    <tr>
        <td>Psionic</td>
        <td>Monk, Psion</td>
    </tr>
</table>