{% extends "base.jinja2" %}

{% block header %}
    <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='forms.css') }}">
{% endblock %}

{% block content %}
<div style="width: 1200px; margin: auto">
    <h1>Edit {{ player.name }}</h1>

    <form method="POST" action="{{ url_for('players_bp.update_player_page', player_name=player.name) }}">
        {{ form.csrf_token }}
        <div>
            <fieldset>
                {{ form.name.label }}
                {{ form.name(value=player.name) }}
                <br/>
                {% if form.name.errors %}
                    <ul class="errors">
                        {% for error in form.name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </fieldset>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <fieldset>
                {{ form.hp.label }} {{ form.hp(value=player.hp) }}
                <br/>
                {% if form.hp.errors %}
                    <ul class="errors">
                        {% for error in form.hp.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </fieldset>

            <fieldset>
                {{ form.ac.label }} {{ form.ac(value=player.ac) }}
                <br/>
                {% if form.ac.errors %}
                    <ul class="errors">
                        {% for error in form.ac.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </fieldset>

            <fieldset>
                {{ form.pp.label }} {{ form.pp(value=player.pp) }}
                <br/>
                {% if form.pp.errors %}
                    <ul class="errors">
                        {% for error in form.pp.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </fieldset>
        </div>
        {{ form.submit }}
    </form>
</div>
{% endblock %}