{% extends "base.jinja2" %}

{% block header %}
    <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='forms.css') }}">
{% endblock %}

{% block content %}
<div class="content">
    <h1>Player Characters</h1>
    <div class="w3-margin-bottom" style="display: flex; justify-content: space-between;">
        <a href="{{ url_for('players_bp.new_player_page') }}" class="w3-button w3-white w3-border w3-ripple">Create New Player Character</a>
        <span>
            Filter by Tag:
            <select class="w3-select" style="width: 20em" name="tag-filter" id="tag-filter">
                <option value=""><em>Show All Players</em></option>
                {% for tag in all_tags %}
                    <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select>
        </span>
    </div>
    {% for player in players %}
        <div class="w3-card w3-padding _player" style="margin-bottom: 12px" data-tags="{{ player.tags | tojson | forceescape }}">
            <div>
                <span class="w3-xlarge">{{ player.name }}</span>
                <a href="{{ url_for('players_bp.delete_player', player_name=player.name)}}" style="float: right" class="w3-button w3-white w3-border w3-ripple">Delete</a>
                <a href="{{ url_for('players_bp.update_player_page', player_name=player.name)}}" style="float: right" class="w3-button w3-white w3-border w3-ripple">Edit</a>
            </div>
            <div style="display: flex; flex-flow: row wrap;">
                <div class="w3-padding">
                    <strong>Max HP: </strong> {{ player.hp }}
                </div>
                <div class="w3-padding">
                    <strong>AC: </strong> {{ player.ac }}
                </div>
                <div class="w3-padding">
                    <strong>Passive Perception: </strong> {{ player.pp }}
                </div>
                <div class="w3-padding">
                    <strong>Race: </strong> {{ player.race_id or "Unknown" }}
                </div>
                <div class="w3-padding">
                    <strong>Tags: </strong> {% for tag in player.tags %}<span style="padding: 4px 10px; margin-right: 2px; border-radius: 16px;" class="w3-blue">{{ tag }}</span>{% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    $("#tag-filter").change(function () {
        tag = $("#tag-filter").val();
        $("div._player").each(function() {
            if (tag == "" || $(this).data("tags").includes(tag)) {
                $(this).show();
            }
            else {
                $(this).hide();
            }
        })
    })
</script>
{% endblock %}