{% extends "base.jinja2" %}

{% block content %}
<div style="width: 1200px; margin: auto">
    <h1>Create New Player Character</h1>

    <form method="POST" action="{{ url_for('players_bp.new_player_page') }}">
        {{ form.csrf_token }}
        <div>
            <fieldset>
                {{ form.name.label }}
                {{ form.name }}
            </fieldset>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-around">
            <fieldset>
                {{ form.hp.label }} {{ form.hp }}
            </fieldset>

            <fieldset>
                {{ form.ac.label }} {{ form.ac }}
            </fieldset>

            <fieldset>
                {{ form.pp.label }} {{ form.pp }}
            </fieldset>
        </div>
        {{ form.submit }}
    </form>
</div>
{% endblock %}