name: Publish Docker Image and Release

on:
  workflow_dispatch

permissions:
  contents: write
  packages: write

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Python
      uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b
      with:
        python-version: 3.11

    - name: Install Poetry
      run: make install-poetry

    - name: Build Docker image
      run: make build

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Tag Docker image
      run: |
        export VERSION=$(poetry version -s)
        docker tag bagoftricks:latest ghcr.io/${{ github.repository_owner }}/bagoftricks:v$VERSION
        docker tag bagoftricks:latest ghcr.io/${{ github.repository_owner }}/bagoftricks:latest

    - name: Push Docker image to GHCR
      run: |
        export VERSION=$(poetry version -s)
        docker push ghcr.io/${{ github.repository_owner }}/bagoftricks:v$VERSION
        docker push ghcr.io/${{ github.repository_owner }}/bagoftricks:latest

    - name: Create GitHub Release
      run: |
        export VERSION=$(poetry version -s)
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        gh release create v$VERSION --title "Release v$VERSION" --notes "Release v$VERSION"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
